<div class="container">
  <div class="row">
    <h1>Hello, World!</h1>

    <p class="bd-lead">Angular with Bootstrap and FontAwesome

      <fa-icon [icon]="faBootstrap"></fa-icon>
      +
      <fa-icon [icon]="faAngular"></fa-icon>
      +
      <fa-icon [icon]="faFontAwesome"></fa-icon>
    </p>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

  </div>
</div>
